[submodule "super-awesome-to-do-list-5000"]
	path = super-awesome-to-do-list-5000
	url = https://github.com/LoginowArthur/super-awesome-to-do-list-5000.git
  ignore = all
[submodule "super-awesome-to-do-list-api"]
	path = super-awesome-to-do-list-api
	url = https://github.com/mpielvitori/super-awesome-to-do-list-api.git
[submodule "super-awesome-to-do-list-db"]
	path = super-awesome-to-do-list-db
	url = https://github.com/mpielvitori/super-awesome-to-do-list-db.git
